<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="IDEA, IntelliJ IDEA, Webstorm, PyCharm, RubyMine, PhpStorm, AppCode, Color Themes, Themes, Color Schemes, Schemes" />
    <meta name="description" content="Color themes for IntelliJ IDEA, Webstorm, PyCharm, RubyMine, PhpStorm and AppCode" />
    <meta name="author" content="Y-lab" />
    <title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>{% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">{% } %}{% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">{% } %}
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>{% } %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="search-support">
    <h1>About</h1>
    <p>This site contains color themes for IDE (integrated development environments):
    </p>
    <ul>
        <li>IntelliJ family: IDEA, Webstorm, PyCharm, RubyMine, PhpStorm, AppCode</li>
    </ul>
    <p>
        All themes are free to download. Also you can upload your own theme.
    </p>
    <p>
        Please enable javascript.
    </p>
</div>
</body>

</html>
